body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  color: darkred;
}

.centered-img {
  display: block;
  margin: 0 auto 20px auto;
}

img {
  width: 300px;
  height: auto;
  margin: 10px;
}